.filter-modal {
    background-color: rgba(244,244,244,.9);
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100vh;
    left: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.filter-modal__window {
    background-color: #fff;
    border: solid 1px #979797;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
}

.filter-modal__header {
    align-items: center;
    background-color: #0094D9;
    display: flex;
    font-weight: bold;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}

.filter-modal__content {
    display: flex;
}

.filter-modal__categories {
    background-color: #eaeaea;
    border-right: solid 1px #979797;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 74px;
    width: 160px;
}

.filter-modal__categories-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter-modal__categories-items > li {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 45px;
    position: relative;
    text-transform: uppercase;
}

.filter-modal__category::after {
    background-color: #161616;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    transition: width 200ms ease-in;
    width: 0;
}

.filter-modal__category--active::after {
    width: 100%;
}

.filter-modal__options {
    width: 864px;
}

.filter-modal__close {
    cursor: pointer;
    margin-left: auto;
    width: 24px;
}

.filter-modal__actions {
    border-top: solid 1px #979797;
    display: flex;
    padding: 24px 16px;
}

.filter-modal__ctas {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.filter-modal__ctas > a {
    margin-left: 16px;
}

.cta {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
    min-width: 136px;
}

.cta::before {
    border: solid 2px #a3a3a3;
    border-radius: 3px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: bottom 0.1s, left 0.1s, right 0.1s, top 0.1s;
    z-index: -1;
}

.cta:hover::before {
    bottom: -3px;
    left: -3px;
    right: -3px;
    top: -3px;
}

.cta--primary::before,
.cta--primary {
    background-color: #0094D9;
    border: none;
    border-radius: 3px;
}

.filter-modal__options {
    height: 475px;
}

.filter-teams {
    display: flex;
}

.filter-teams > * {
    flex-basis: 50%;
    padding: 16px 24px;
}

/** CTA Styles **/
.cta {
    cursor: pointer;
}